USE GD2C2023
GO

/*********************** Limpiar tablas ***********************/

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'caracteristicas_inmueble')
DROP TABLE AMCGDD.CARACTERISTICAS_INMUEBLE

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'inmueble')
DROP TABLE AMCGDD.INMUEBLE

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'estado_inmueble')
DROP TABLE [AMCGDD].[ESTADO_INMUEBLE]

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'tipo')
DROP TABLE AMCGDD.TIPO

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'orientacion')
DROP TABLE AMCGDD.ORIENTACION

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'inmueble_disposicion')
DROP TABLE AMCGDD.INMUEBLE_DISPOSICION

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'inmueble_ambiente')
DROP TABLE AMCGDD.INMUEBLE_AMBIENTE


IF EXISTS (SELECT name FROM sys.tables WHERE name = 'caracteristica')
DROP TABLE AMCGDD.CARACTERISTICA

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'provincia')
DROP TABLE AMCGDD.PROVINCIA

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'localidad')
DROP TABLE AMCGDD.LOCALIDAD

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'barrio')
DROP TABLE AMCGDD.BARRIO


IF EXISTS (SELECT name FROM sys.tables WHERE name = 'sucursal')
DROP TABLE AMCGDD.SUCURSAL

/*********************** Limpiar Store Procedures ***********************/
IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_ESTADO_INMUEBLE')
    DROP PROCEDURE AMCGDD.MIGRACION_ESTADO_INMUEBLE;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_TIPO')
    DROP PROCEDURE AMCGDD.MIGRACION_TIPO;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_INMUEBLE_DISPOSICION')
    DROP PROCEDURE AMCGDD.MIGRACION_INMUEBLE_DISPOSICION;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_ORIENTACION')
    DROP PROCEDURE AMCGDD.MIGRACION_ORIENTACION;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_INMUEBLE_AMBIENTE')
    DROP PROCEDURE AMCGDD.MIGRACION_INMUEBLE_AMBIENTE;
GO


--IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'migrar_caracteristica_inmueble')
 --   DROP PROCEDURE AMCGDD.migrar_caracteristica_inmueble;
--GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_CARACTERISTICA')
    DROP PROCEDURE AMCGDD.MIGRACION_CARACTERISTICA;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_INMUEBLE')
    DROP PROCEDURE AMCGDD.MIGRACION_INMUEBLE;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_PROVINCIA')
    DROP PROCEDURE AMCGDD.MIGRACION_PROVINCIA;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_LOCALIDAD')
    DROP PROCEDURE AMCGDD.MIGRACION_LOCALIDAD;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_BARRIO')
    DROP PROCEDURE AMCGDD.MIGRACION_BARRIO;
GO

IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_SUCURSAL')
    DROP PROCEDURE AMCGDD.MIGRACION_SUCURSAL;
GO


IF EXISTS(SELECT [name] FROM sys.procedures WHERE [name] = 'MIGRACION_CARACTERISTICAS_INMUEBLE')
    DROP PROCEDURE AMCGDD.MIGRACION_CARACTERISTICAS_INMUEBLE;
GO


/*********************** Creacion de Schema ***********************/
--CREATE SCHEMA AMCGDD;
--GO
/*********************** Creacion de tablas ***********************/

-------------------------- INMUEBLE --------------------------
CREATE TABLE AMCGDD.ESTADO_INMUEBLE (
    ESTADO_ID NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
    ESTADO_NOMBRE NVARCHAR(100),
    PRIMARY KEY (ESTADO_ID)
);

CREATE TABLE AMCGDD.TIPO (
    TIPO_ID NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
    NOMBRE NVARCHAR(100),
    PRIMARY KEY (TIPO_ID)
);


CREATE TABLE AMCGDD.ORIENTACION (
    ORIENTACION_ID NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
    NOMBRE_COORDENADA NVARCHAR(100),
    PRIMARY KEY (orientacion_id)
);

CREATE TABLE AMCGDD.INMUEBLE_DISPOSICION (
    DISPOSICION_ID NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
    NOMBRE NVARCHAR(100),
    PRIMARY KEY (disposicion_id)
);

CREATE TABLE AMCGDD.INMUEBLE_AMBIENTE ( 
    AMBIENTE_ID NUMERIC(18,0) IDENTITY(1,1) NOT NULL,
    nombre NVARCHAR(100),
    PRIMARY KEY (AMBIENTE_ID)
);


CREATE TABLE AMCGDD.CARACTERISTICA (
    CARACTERISTICA_ID numeric(18,0) IDENTITY(1,1) NOT NULL,
    NOMBRE NVARCHAR(100),
    PRIMARY KEY (CARACTERISTICA_ID)
);

CREATE TABLE AMCGDD.PROVINCIA (
    PROVINCIA_ID NUMERIC(19,0) IDENTITY(1,1) NOT NULL,
    PROVINCIA_NOMBRE NVARCHAR(100),
    PRIMARY KEY (PROVINCIA_ID)
);

CREATE TABLE AMCGDD.LOCALIDAD (
    LOCALIDAD_ID NUMERIC(19,0) IDENTITY(1,1) NOT NULL,
    LOCALIDAD_NOMBRE NVARCHAR(100),
	LOCALIDAD_PROVINCIA_ID NUMERIC(19,0),--FK
    PRIMARY KEY (LOCALIDAD_ID)
);

CREATE TABLE AMCGDD.BARRIO (
    BARRIO_ID NUMERIC(19,0) IDENTITY(1,1) NOT NULL,
    BARRIO_NOMBRE NVARCHAR(100),
	BARRIO_LOCALIDAD_ID NUMERIC(19,0),--FK
    PRIMARY KEY (BARRIO_ID)
);


CREATE TABLE AMCGDD.INMUEBLE (
INMUEBLE_ID NUMERIC(18,0)  NOT NULL, --PK
NOMBRE NVARCHAR(100),
DESCRIPCION NVARCHAR(100),
ANTIGUEDAD NUMERIC(18,0),
EXPENSAS NUMERIC(18,2),
AMBIENTE_ID NUMERIC(18,0),--FK
CANTIDAD_AMBIENTES NVARCHAR(100),
SUPERFICIE_TOTAL NUMERIC(18,2),
DIRECCION NVARCHAR(100),

ESTADO_ID NUMERIC(18,0) NOT NULL, --FK
TIPO_ID NUMERIC(18,0) NOT NULL,--FK
ORIENTACION_ID NUMERIC(18,0) NOT NULL,--FK
DISPOSICION_ID NUMERIC(18,0) NOT NULL,--FK
BARRIO_ID NUMERIC(19,0) NOT NULL,--FK
PRIMARY KEY (INMUEBLE_ID)--FK
);

CREATE TABLE AMCGDD.CARACTERISTICAS_INMUEBLE (
INMUEBLE_ID NUMERIC(18,0) NOT NULL, --FK
CARACTERISTICA_ID numeric(18,0) NOT NULL, --FK
);


-------------------------- SUCURSAL --------------------------
CREATE TABLE AMCGDD.SUCURSAL (
    SUCURSAL_ID NUMERIC(18,0) NOT NULL,
    SUCURSAL_NOMBRE NVARCHAR(100),
	SUCURSAL_DIRECCION NVARCHAR(100),
	SUCURSAL_TELEFONO NVARCHAR(100),

	SUCURSAL_LOCALIDAD_ID NUMERIC(19,0), --FK
    PRIMARY KEY (SUCURSAL_ID)
);
/*********************** Se agrega FKs ***********************/

--------------------INMUEBLE----------------------

ALTER TABLE AMCGDD.LOCALIDAD
ADD CONSTRAINT FK_PROVINCIA_ID
FOREIGN KEY (LOCALIDAD_PROVINCIA_ID) REFERENCES AMCGDD.LOCALIDAD

ALTER TABLE AMCGDD.BARRIO
ADD CONSTRAINT FK_LOCALIDAD_ID
FOREIGN KEY (BARRIO_LOCALIDAD_ID) REFERENCES AMCGDD.BARRIO
GO

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_ESTADO_INMUEBLE
FOREIGN KEY (ESTADO_ID) REFERENCES AMCGDD.ESTADO_INMUEBLE

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_TIPO_AMBIENTE
FOREIGN KEY (TIPO_ID) REFERENCES AMCGDD.TIPO

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_ORIENTACION_INMUEBLE
FOREIGN KEY (ORIENTACION_ID) REFERENCES AMCGDD.ORIENTACION

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_DISPOSICION_INMUEBLE
FOREIGN KEY (DISPOSICION_ID) REFERENCES AMCGDD.INMUEBLE_DISPOSICION

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_AMBIENTE
FOREIGN KEY (AMBIENTE_ID) REFERENCES AMCGDD.INMUEBLE_AMBIENTE

ALTER TABLE AMCGDD.INMUEBLE
ADD CONSTRAINT FK_BARRIO_ID
FOREIGN KEY (BARRIO_ID) REFERENCES AMCGDD.BARRIO

ALTER TABLE AMCGDD.CARACTERISTICAS_INMUEBLE
ADD CONSTRAINT FK_CARACTERISTICA_INMUEBLE
FOREIGN KEY (CARACTERISTICA_ID) REFERENCES AMCGDD.CARACTERISTICA

ALTER TABLE AMCGDD.CARACTERISTICAS_INMUEBLE
ADD CONSTRAINT FK_INMUEBLE_ID
FOREIGN KEY (INMUEBLE_ID) REFERENCES AMCGDD.INMUEBLE
GO


/*********************** Creamos los stores procedures ***********************/

CREATE PROCEDURE AMCGDD.MIGRACION_ESTADO_INMUEBLE
 AS
  BEGIN
	PRINT '**MIGRACION** ESTADO_INMUEBLE'
    INSERT INTO estado_inmueble(estado_nombre)
		SELECT DISTINCT Maestra.INMUEBLE_ESTADO
		FROM gd_esquema.Maestra 
		WHERE INMUEBLE_ESTADO IS NOT NULL
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_TIPO
 AS
  BEGIN
	PRINT '**MIGRACION** TIPO'
    INSERT INTO TIPO(NOMBRE)
		SELECT DISTINCT Maestra.INMUEBLE_TIPO_INMUEBLE as NOMBRE
		FROM gd_esquema.Maestra
		WHERE INMUEBLE_TIPO_INMUEBLE IS NOT NULL
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_ORIENTACION
 AS
  BEGIN
	PRINT '**MIGRACION** ORIENTACION'
    INSERT INTO ORIENTACION(NOMBRE_COORDENADA)
		SELECT DISTINCT Maestra.INMUEBLE_ORIENTACION 
		FROM gd_esquema.Maestra
		WHERE INMUEBLE_ORIENTACION IS NOT NULL
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_INMUEBLE_DISPOSICION
 AS
  BEGIN
	PRINT '**MIGRACION** INMBUEBLE_DISPOSICION'
    INSERT INTO INMUEBLE_DISPOSICION(NOMBRE)
		SELECT DISTINCT Maestra.INMUEBLE_DISPOSICION 
		FROM gd_esquema.Maestra
		WHERE INMUEBLE_DISPOSICION IS NOT NULL
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_INMUEBLE_AMBIENTE
 AS
  BEGIN
	PRINT '**MIGRACION** AMBIENTE'
   INSERT INTO INMUEBLE_AMBIENTE(NOMBRE)
   VALUES
        ('Ambiente'),
        ('Ambiente con dependencia'),
        ('Monoambiente');
  END
GO


CREATE PROCEDURE AMCGDD.MIGRACION_CARACTERISTICA
AS
BEGIN
    PRINT '**MIGRACION** CARACTERISTICA'

    INSERT INTO CARACTERISTICA (NOMBRE)
    SELECT 
        RIGHT(NOMBRE, CHARINDEX('_', REVERSE(NOMBRE)) - 1) AS NOMBRE
    FROM (
        SELECT 'INMUEBLE_CARACTERISTICA_CALEFACCION' AS NOMBRE
        UNION ALL
        SELECT 'INMUEBLE_CARACTERISTICA_GAS'
        UNION ALL
        SELECT 'INMUEBLE_CARACTERISTICA_WIFI'
		UNION ALL
        SELECT 'INMUEBLE_CARACTERISTICA_CABLE'
    ) AS Subquery
END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_PROVINCIA
 AS
  BEGIN
	PRINT '**MIGRACION** PROVINCIA'
    INSERT INTO PROVINCIA(PROVINCIA_NOMBRE)
		SELECT DISTINCT Maestra.INMUEBLE_PROVINCIA as PROVINCIA_NOMBRE
		FROM gd_esquema.Maestra
		WHERE INMUEBLE_PROVINCIA IS NOT NULL
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_LOCALIDAD
AS
BEGIN
    PRINT '**MIGRACION** LOCALIDAD'

    INSERT INTO LOCALIDAD (LOCALIDAD_NOMBRE, LOCALIDAD_PROVINCIA_ID) 
    SELECT DISTINCT Maestra.INMUEBLE_LOCALIDAD AS LOCALIDAD_NOMBRE,
           (SELECT TOP 1 PROVINCIA_ID FROM AMCGDD.PROVINCIA WHERE PROVINCIA.PROVINCIA_NOMBRE = Maestra.INMUEBLE_PROVINCIA) AS LOCALIDAD_PROVINCIA_ID
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_LOCALIDAD IS NOT NULL AND NOT EXISTS (SELECT 1 FROM AMCGDD.LOCALIDAD WHERE LOCALIDAD_NOMBRE = Maestra.INMUEBLE_LOCALIDAD);

	INSERT INTO LOCALIDAD (LOCALIDAD_NOMBRE, LOCALIDAD_PROVINCIA_ID) 
    SELECT DISTINCT SUCURSAL_LOCALIDAD AS LOCALIDAD_NOMBRE,
           (SELECT TOP 1 PROVINCIA_ID FROM AMCGDD.PROVINCIA WHERE PROVINCIA.PROVINCIA_NOMBRE = Maestra.SUCURSAL_PROVINCIA) AS LOCALIDAD_PROVINCIA_ID
    FROM gd_esquema.Maestra
    WHERE SUCURSAL_LOCALIDAD IS NOT NULL
     AND NOT EXISTS (SELECT 1 FROM AMCGDD.LOCALIDAD WHERE LOCALIDAD_NOMBRE = Maestra.SUCURSAL_LOCALIDAD);
END
GO


CREATE PROCEDURE AMCGDD.MIGRACION_BARRIO
AS
BEGIN
    PRINT '**MIGRACION** BARRIO'

    INSERT INTO BARRIO(BARRIO_NOMBRE, BARRIO_LOCALIDAD_ID) 
    SELECT DISTINCT Maestra.INMUEBLE_BARRIO AS BARRIO_NOMBRE,
           (SELECT TOP 1 LOCALIDAD_ID FROM AMCGDD.LOCALIDAD WHERE LOCALIDAD.LOCALIDAD_NOMBRE = Maestra.INMUEBLE_LOCALIDAD) AS BARRIO_LOCALIDAD_ID
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_BARRIO IS NOT NULL AND NOT EXISTS (SELECT 1 FROM AMCGDD.BARRIO WHERE BARRIO_NOMBRE = Maestra.INMUEBLE_BARRIO);
END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_INMUEBLE
AS
  BEGIN
	PRINT '**MIGRACION** INMUEBLE'
    INSERT INTO INMUEBLE(INMUEBLE_ID, NOMBRE, DESCRIPCION, ANTIGUEDAD, EXPENSAS,AMBIENTE_ID, CANTIDAD_AMBIENTES, SUPERFICIE_TOTAL, DIRECCION, 
	ESTADO_ID,TIPO_ID, ORIENTACION_ID, DISPOSICION_ID, BARRIO_ID)
		SELECT DISTINCT INMUEBLE_CODIGO AS INMUEBLE_ID,
		INMUEBLE_NOMBRE AS NOMBRE,
		INMUEBLE_DESCRIPCION AS DESCRIPCION,
		INMUEBLE_ANTIGUEDAD AS ANTIGUEDAD,
		INMUEBLE_EXPESAS AS EXPENSAS,
		--INMUEBLE_CANT_AMBIENTES AS CANTIDAD_AMBIENTES,
		CASE
			WHEN CHARINDEX('ambientes', INMUEBLE_CANT_AMBIENTES) > 0 THEN --Verifica si en la columna esta la palanra ambientes
				CASE
					WHEN CHARINDEX('con dependencia', INMUEBLE_CANT_AMBIENTES) > 0 THEN --si es asi, verifica si tiene 'con dependencia'
					(SELECT TOP 1 AMBIENTE_ID FROM AMCGDD.INMUEBLE_AMBIENTE WHERE NOMBRE = 'Ambiente con dependencia')
				ELSE
					(SELECT TOP 1 AMBIENTE_ID FROM AMCGDD.INMUEBLE_AMBIENTE WHERE NOMBRE = 'Ambiente')
				END
			WHEN INMUEBLE_CANT_AMBIENTES = 'Monoambiente' THEN
				(SELECT TOP 1 AMBIENTE_ID FROM AMCGDD.INMUEBLE_AMBIENTE WHERE NOMBRE = 'Monoambiente')
			ELSE
				NULL
		END AS AMBIENTE_ID,
		CASE
            WHEN CHARINDEX('ambientes', INMUEBLE_CANT_AMBIENTES) > 0 THEN 
				SUBSTRING(INMUEBLE_CANT_AMBIENTES, 1, CHARINDEX('ambientes', INMUEBLE_CANT_AMBIENTES) - 1)
            WHEN INMUEBLE_CANT_AMBIENTES = 'Monoambiente' THEN '1'
			WHEN INMUEBLE_CANT_AMBIENTES = 'Ambiente' THEN (SELECT TOP 1 AMBIENTE_ID FROM AMCGDD.INMUEBLE_AMBIENTE WHERE NOMBRE = 'Ambiente')
            WHEN INMUEBLE_CANT_AMBIENTES = 'Ambiente con dependencia' THEN (SELECT TOP 1 AMBIENTE_ID FROM AMCGDD.INMUEBLE_AMBIENTE WHERE NOMBRE = 'Ambiente con dependencia')
            ELSE NULL
        END AS CANTIDAD_AMBIENTES,
		INMUEBLE_SUPERFICIETOTAL AS SUPERFICIE_TOTAL,
		INMUEBLE_DIRECCION AS DIRECCION,
		(SELECT ESTADO_INMUEBLE.ESTADO_ID FROM AMCGDD.ESTADO_INMUEBLE WHERE ESTADO_INMUEBLE.ESTADO_NOMBRE = INMUEBLE_ESTADO) AS ID_ESTADO,
		(SELECT TIPO.TIPO_ID FROM AMCGDD.TIPO WHERE TIPO.NOMBRE = INMUEBLE_TIPO_INMUEBLE) AS TIPO_ID,
		(SELECT ORIENTACION.ORIENTACION_ID FROM AMCGDD.ORIENTACION WHERE ORIENTACION.NOMBRE_COORDENADA = INMUEBLE_ORIENTACION) AS ORIENTACION_ID,
		(SELECT INMUEBLE_DISPOSICION.DISPOSICION_ID FROM AMCGDD.INMUEBLE_DISPOSICION WHERE INMUEBLE_DISPOSICION.NOMBRE = INMUEBLE_DISPOSICION) AS DISPOSICION_ID,
		(SELECT TOP 1 BARRIO.BARRIO_ID FROM AMCGDD.BARRIO WHERE BARRIO.BARRIO_NOMBRE = INMUEBLE_BARRIO) AS BARRIO_ID
		FROM gd_esquema.Maestra
		WHERE INMUEBLE_CODIGO IS NOT NULL AND NOT EXISTS (SELECT 1 FROM AMCGDD.INMUEBLE WHERE INMUEBLE.INMUEBLE_ID = INMUEBLE_CODIGO) --si me devuelve una fila, osea 1 es porque ya existe 
  END
GO

CREATE PROCEDURE AMCGDD.MIGRACION_CARACTERISTICAS_INMUEBLE
AS
BEGIN
    PRINT '**MIGRACION** CARACTERISTICAS_INMUEBLE'

    INSERT INTO CARACTERISTICAS_INMUEBLE (INMUEBLE_ID, CARACTERISTICA_ID)
    SELECT DISTINCT INMUEBLE_CODIGO AS INMUEBLE_ID,
        (SELECT CARACTERISTICA_ID FROM AMCGDD.CARACTERISTICA WHERE NOMBRE = 'WIFI')
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_CODIGO IS NOT NULL AND INMUEBLE_CARACTERISTICA_WIFI = 1;

    INSERT INTO CARACTERISTICAS_INMUEBLE (INMUEBLE_ID, CARACTERISTICA_ID)
    SELECT DISTINCT INMUEBLE_CODIGO AS INMUEBLE_ID,
        (SELECT CARACTERISTICA_ID FROM AMCGDD.CARACTERISTICA WHERE NOMBRE = 'CABLE')
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_CODIGO IS NOT NULL AND INMUEBLE_CARACTERISTICA_CABLE = 1;

    INSERT INTO CARACTERISTICAS_INMUEBLE (INMUEBLE_ID, CARACTERISTICA_ID)
    SELECT DISTINCT INMUEBLE_CODIGO AS INMUEBLE_ID,
        (SELECT CARACTERISTICA_ID FROM AMCGDD.CARACTERISTICA WHERE NOMBRE = 'CALEFACCION')
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_CODIGO IS NOT NULL AND INMUEBLE_CARACTERISTICA_CALEFACCION = 1;

    INSERT INTO CARACTERISTICAS_INMUEBLE (INMUEBLE_ID, CARACTERISTICA_ID)
    SELECT DISTINCT INMUEBLE_CODIGO AS INMUEBLE_ID,
        (SELECT CARACTERISTICA_ID FROM AMCGDD.CARACTERISTICA WHERE NOMBRE = 'GAS')
    FROM gd_esquema.Maestra
    WHERE INMUEBLE_CODIGO IS NOT NULL AND INMUEBLE_CARACTERISTICA_GAS = 1;

END
GO






----------------------

CREATE PROCEDURE AMCGDD.MIGRACION_SUCURSAL
 AS
  BEGIN
	PRINT '**MIGRACION** SUCURSAL'
    INSERT INTO SUCURSAL(SUCURSAL_ID, SUCURSAL_NOMBRE,SUCURSAL_DIRECCION, SUCURSAL_TELEFONO, SUCURSAL_LOCALIDAD_ID)
		SELECT DISTINCT SUCURSAL_CODIGO AS SUCURSAL_ID,
		SUCURSAL_NOMBRE AS SUCURSAL_NOMBRE,
		SUCURSAL_DIRECCION AS SUCURSAL_DIRECCION,
		SUCURSAL_TELEFONO AS SUCURSAL_TELEFONO,
		(sELECT TOP 1 LOCALIDAD_ID FROM AMCGDD.LOCALIDAD WHERE LOCALIDAD.LOCALIDAD_NOMBRE = SUCURSAL_LOCALIDAD) 
		FROM gd_esquema.Maestra
		WHERE SUCURSAL_CODIGO IS NOT null
  END
GO


/*********************** Realizamos la ejecución de los stores procedures ***********************/
EXEC AMCGDD.MIGRACION_ESTADO_INMUEBLE
EXEC AMCGDD.MIGRACION_TIPO
EXEC AMCGDD.MIGRACION_ORIENTACION
EXEC AMCGDD.MIGRACION_INMUEBLE_DISPOSICION
EXEC AMCGDD.MIGRACION_INMUEBLE_AMBIENTE
EXEC AMCGDD.MIGRACION_CARACTERISTICA
EXEC AMCGDD.MIGRACION_PROVINCIA
EXEC AMCGDD.MIGRACION_LOCALIDAD
EXEC AMCGDD.MIGRACION_BARRIO
EXEC AMCGDD.MIGRACION_INMUEBLE

EXEC AMCGDD.MIGRACION_CARACTERISTICAS_INMUEBLE
EXEC AMCGDD.MIGRACION_SUCURSAL
